<ActionBar title="{{title}}" class="action-bar">
    <StackLayout orientation="horizontal" horizontalAlignment="left" (tap)="onOpenDrawerTap()">
        <Image src="~/assets/images/menu.png" class="action-image"></Image>
        <Label text="Questions" class="action-label"></Label>
    </StackLayout>
</ActionBar> 


<GridLayout rows="*" height="1500px" (swipe)="onSwipe($event)"> 
    <RadSideDrawer>
        <StackLayout tkDrawerContent backgroundColor="gray">
            <StackLayout height="60" style="text-align: center; vertical-align: center;">
                <Label text="Questions"></Label>
            </StackLayout>
            <ScrollView>
                <StackLayout>
                    <Button *ngFor="let question of questions; let i = index"
                        text="{{question.q_label}}" (tap)="loadQuestion(i)"></Button>
                </StackLayout>
            </ScrollView>
        </StackLayout> 
        <StackLayout tkMainContent *ngIf="question!=undefined">
            <StackLayout class="home-panel">
                <StackLayout orientation="horizontal" horizontalAlignment="center">
                    <Image src="~/assets/images/left.png" class="actionImage" (tap)="goLeft()"></Image>
                    <Image src="~/assets/images/dr_sinha/julia_full.png" #avatar stretch="aspectFill" width="200" height="200"></Image>
                    <Image src="~/assets/images/right.jpg" class="actionImage" (tap)="goRight()"></Image>
                    <!-- <Slider value="9"  minValue="5" maxValue="15"></Slider> -->
                </StackLayout>
                <StackLayout orientation="horizontal" horizontalAlignment="left" (tap)="textToSpeech()">
                    <Image src="~/assets/images/speaker.png" class="action-image" width="45" height="20"></Image>
                    <Label style="font:20; font-weight: bold" textWrap="true" text="{{question.quest}}"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout orientation="horizontal" horizontalAlignment="left" >
                        <Image src="~/assets/images/speaker.png" class="action-image" (tap)="speakTextOnly()" width="45" height="20" visibility="{{ showAnswer ? 'visible' : 'collapsed' }}"></Image>
                        <Button text="{{ showAnswer ? 'Hide Answer' : 'Show Answer' }}" (tap)="displayAnswer()"></Button>
                        <StackLayout alignItems="center" justifyContent="space-around" itemWidth="auto" itemHeight="auto" (tap)="toggleRecording()">
                            <!-- <Button text="start listening" *ngIf="!recording" (tap)="toggleRecording()"></Button>
                            <Button text="stop listening" *ngIf="recording" (tap)="toggleRecording()"></Button> -->
                            <Image src="~/assets/images/mic.png" class="action-image" width="70" height="50" *ngIf="!recording"></Image>
                            <Image src="~/assets/images/micoff.png" class="action-image" width="70" height="50" *ngIf="recording"></Image>
                        </StackLayout>
                    </StackLayout>
                    <ScrollView>
                        <Label class="body" textWrap="true" text="{{question.text}}" style="font:18;" visibility="{{ showAnswer ? 'visible' : 'collapsed' }}"></Label>
                    </ScrollView>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </RadSideDrawer>
</GridLayout> 

<!--<Button *ngFor="let question of questions" text="{{question.title}}"></Button>-->