/* Add mobile styles for the component here.  */
.home-panel{
    vertical-align: center;
    align-content: center;
    border-radius: 20;
    border-color: black;
    border-width: 1;
    margin: 4%;
    padding-top: 20px;
    height: 90%;
}

.action-image {
    width: 40; 
    height: 40; 
}

.action-label {
    font-size: 24;
    font-weight: bold; 
}

.actionImage{
    width: 30;
    height: 40;
    margin-left: 10;
    margin-right: 10;
}