<ActionBar title="Interview Preparation" class="action-bar"></ActionBar>
<ScrollView class="page">
    <StackLayout class="home-panel">
        <!--Add your page content here-->
        <Image src="~/assets/images/mrsinha.png" width="150" height="150"></Image>
        <Label textWrap="true" text="Welcome to Interview Trainer App!" class="h2 description-label"></Label>
        <Label textWrap="true" text="Learn with our Avatar what to speak and how to speak for an interview!!"
            class="h2 description-label"></Label>
        <Label textWrap="true" text="Choose from the below sections to start with:"
            class="h2 description-label"></Label>
        <ns-lesson></ns-lesson>
    </StackLayout>
</ScrollView>