<ActionBar title="Interview Preparation" class="action-bar"></ActionBar>
<Page class="page">
    <StackLayout class="home-panel">
        <StackLayout class="home-elements">
            <Image src="~/assets/images/Final_Avatar_small/0_Welcome.png" width="256" height="210"></Image>
            <Label textWrap="true" text="Welcome to Job Interview Skill Training!" class="h1 text-center"></Label>
            <Label textWrap="true" text="Learn with our Avatar what to speak and how to speak for an interview!!" class="h2 text-center"></Label>
            <Label textWrap="true" text="Choose from the below sections to start with:" class="text-center"></Label>
            <ns-lesson></ns-lesson>
            <Label text="Instructions" class="h4 text-center"></Label>
        </StackLayout>
    </StackLayout>
</Page>