.home-panel{
    vertical-align: center; 
    align-content: center;
    border-radius: 20;
    border-color: black;
    border-width: 1;
    margin: 4%;
    padding-top: 20px;
    height: 90%;
}

.home-elements{
    vertical-align: center;
    align-content: center;
    margin-top: 2%;
}

Image{
    margin-bottom: 9;
}

Label{
    font: 18;
}