.home-panel{
    vertical-align: center; 
    align-content: center;
}

.home-elements{
    vertical-align: center;
    align-content: center;
    margin-top: 2%;
}

Image{
    margin-bottom: 9;
}

Label{
    font: 18;
}