.home-panel{
    vertical-align: center;
    align-content: center;

}
.page{
    background-image: linear-gradient(to bottom right,skyblue,lightblue);
}
Image{
    margin-bottom: 9;
}
Label{
    font: 18;
}