<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Speech to Text"></Label>
</ActionBar>
<StackLayout>
    <!-- <TextField [(ngModel)]="recognizedText"></TextField> -->

    <StackLayout alignItems="center" justifyContent="space-around" itemWidth="auto" itemHeight="auto">
        <Button text="start listening" *ngIf="!recording" (tap)="toggleRecording()"></Button>
        <Button text="stop listening" *ngIf="recording" (tap)="toggleRecording()"></Button>
    </StackLayout>
</StackLayout>
     